body {
    font-family: Arial, sans-serif;
}

h2, h3 {
    text-align: center;
}

form {
    text-align: center;
    margin: 20px;
}

.gallery img {
    margin: 10px;
}

p {
    text-align: center;
}

.gallery-item {
    display: inline-block;
    margin: 10px;
    text-align: center;
}

.gallery-item img {
    display: block;
    margin: 0 auto;
    width: 200px;
    height: auto;
}

.button-group {
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

.delete-button, .download-button {
    width: 100px; 
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
    margin: 0 0.5px; 
    text-align: center;
    display: inline-block;
}

.download-button {
    background-color: green;
}

.delete-button:hover {
    background-color: darkred;
}

.download-button:hover {
    background-color: darkgreen;
}